<html>

	<head>
		<title>Tenis</title>
		
		<link type="text/css" rel="stylesheet" href="static/styles/style.css" />
	</head>
	
	<body>
	
		<div class="tenis-court">
		
			<div class="top-right-singles-sideline"></div>
			<div class="top-left-singles-sideline"></div>
			<div class="bottom-left-singles-sideline"></div>
			<div class="bottom-right-singles-sideline"></div>
		
			<div class="left-servis-field"></div>
			<div class="right-servis-field"></div>
		
			<div class="right-top-net-field"></div>
			<div class="left-top-net-field"></div>
			<div class="left-bottom-net-field"></div>
			<div class="right-bottom-net-field"></div>
			
			<div class="tick tick-left"></div>
			<div class="tick tick-right"></div>
			
		
			<div class="net-top"></div>
			<div class="net"></div>
			
			<div class="info-panel-servis">
				<div class="info-panel-servis-body">
					<div class="info-panel-body-content-servis">
						<div class="player-serving-info">
							<div class="event-name">Servis</div>
							<div class="arrow-red-left"></div>
							<div class="name-and-surname">
								<div class="name">Novak</div>
								<div class="surname">Đoković</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!--
				Insert HTML parts...
			-->
			<!-- {% include "start.html" %} -->
			<!-- {% include "servis.html" %} -->
			<!-- {% include "gem-won.html" %} -->
	
		</div>
	
	</body>


</html>